@model CloudStorage.Web.Models.FileCreateModel

<form asp-controller="Files" asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="FormFile" type="file" name="FormFile" class="form-control" />
    <button type="submit">Upload</button>
</form>