@model FileCreateModel

<form id="file-upload-form" asp-controller="Files" asp-action="Create" method="post" enctype="multipart/form-data">
    <label class="upload-file-input">
        <input asp-for="FormFiles" type="file" name="FormFiles" multiple onchange="form.submit()"/>
        Upload
    </label>
</form>