.myFile {
    height: 50px;
    width: 30px;
}

#delete-files-button {
    display: inline-block;
    border-radius: 16px;
    height: 50px;
    width: 100px;
    background-color: red;
    border: 1px red solid;
    transition: 0.3s;
}

#delete-files-button:hover {
    background-color: white;
}

body {
    overflow: hidden;
}

#wrapper {
   
}

#files {
    display: block;
    border: 1px black solid;
    height: 400px;
    overflow-y: scroll;
}

#myOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: default;
}

input[type="file"] {
    display: none;
}

.files-operations {
    padding-right: 20px;
    display: inline-block;
}

.upload-file-input {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px green solid;
    height: 50px;
    width: 100px;
    background-color: #6f42c1;
    font-size: 14px;
    transition: 0.3s;
}

.upload-file-input:hover {
    background-color: white;
    border: 1px green solid;
}

#overlayFile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlayCloseItem {
    position: absolute;
    top: 5%;
    right: 2%;
    border-radius: 50px;
    transition: 0.1s;
}

#overlayCloseItem:hover {
    background-color: gray;
}

.fileItemBox {
    display: flex;
    height: 190px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.fileItem {
    margin: 5px;
    padding: 5px 5px 5px 9px;
    /*border: 1px solid red;*/
    height: 150px;
    width: inherit;
    max-width: 250px;
   /* display: inline-block;*/
    border-radius: 13px;
    transition: 0.2s;
    overflow: hidden;
}

.fileItem.selected {
    background-color: red;
}


.fileItem:hover {
    background-color: gray;
    /*transform: scale(1.1, 1.1);*/
}

.fileName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 13px;
    margin-top: 0;
}

.fileImageBox {
    height: 120px;
    width: 130px;
    margin-bottom: 0;
}

.filePreviewImage {
    height: inherit;
    width: inherit;
    max-width: inherit;
    object-fit: contain;
    margin-bottom: 0;
}

.deleteButton {
    border-radius: 13px;
    font-size: 13px;
    border-color: red;
    transition: 0.1s;
    margin: 5px 20px 0 35px;
}

.deleteButton:hover {
    background-color: red;
}

.search-input {
    border-radius: 13px;
    border-color: red;
    width: 400px;
    margin: 0 20px 0 20px;
}

.upload-button {
    border-radius: 13px;
    border-color: green;
    transition: 0.4s;
}

.upload-button:hover {
    background-color: green;
}

body {
   /* background-image: url('/background.png');*/
    user-select: none;
}

footer {
    margin-top: -200%;
}

.list-group-horizontal-lg {

}

.list-inline-item {
    display: inline-grid;
}

div.dropdown.m-2 {
    display: inline;
    width: 15px;
}

.files-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-video-player {
    height: 500px;
    width: 1000px;
    object-fit: contain;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    border-radius: 15px;
    background: #25cff2;
    transform: scale(0);
    transform-origin: top left;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .option {
    border-radius: inherit;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 15px;
}

#context-menu .option:hover {
    background: #20c997;
}