.myFile {
    height: 50px;
    width: 30px;
}

#myOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: default;
}

#overlayFile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlayCloseItem {
    position: absolute;
    top: 5%;
    right: 2%;
}

.fileItem {
    margin: 20px;
    padding: 10px;
    border: 1px solid red;
    height: 160px;
    width: 100px;
    max-width: 250px;
    display: inline-block;
}

.fileName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}

.fileImageBox {
    height: 60px;
    width: 60px;
    padding: 10px 10px 0 10px;
}

.filePreviewImage {
    padding-bottom: 5%;
    height: inherit;
    width: inherit;
    max-width: inherit
}

.fileSelected {
    height: 100%;
    width: 100%;
    background-color: blue;
}

.foldersLine {
    height: 20px;
    width: 100%;
}

.folderInLine {
    height: inherit;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.textInFolderOfLine {
    height: inherit;
    width: inherit;
}